commoditydatafactcode/pipeline/FilterDataPipeline.json
{
	"name": "FilterDataPipeline",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(variables('VarDays'),0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set variable2",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "VarDays",
											"value": {
												"value": "@variables('VarDecDays')",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "VarDays",
											"value": {
												"value": "@string(pipeline().parameters.DaysP)",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureDataLakeStoreReadSettings",
										"recursive": true,
										"wildcardFileName": "*/csv"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "CommodityRead",
									"type": "DatasetReference",
									"parameters": {
										"LastDays": {
											"value": "@int(variables('VarDays'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"DaysP": {
				"type": "int",
				"defaultValue": 5
			}
		},
		"variables": {
			"VarDays": {
				"type": "String",
				"defaultValue": "0"
			},
			"VarDecDays": {
				"type": "String",
				"defaultValue": "0"
			},
			"IsActive": {
				"type": "Boolean"
			}
		},
		"annotations": []
	}
}